<html>
<body>
<h1>ADD THREAD</h1>
<form class="" action="/thread/add" method="post">
  <input type="text" placeholder="judulThread" name="judulThread">
  <input type="text" placeholder="JenisMakananID" name="JenisMakananID">
  <input type="date" placeholder="waktuMulai" name="waktuMulai">
  <input type="date" placeholder="waktuBerakhir" name="waktuBerakhir">
  <input type="text" placeholder="location" name="location">
  <button>SUBMIT</button>
</form>
<%if(err){%>
    <%=err.message%>
<%}%>
</body>
</html>
