<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/materilzeinit%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login tanpa google</title>
</head>
<body>
    <%if(err){%>
        <p><%=err%></p>
    <%}%>

    <%- include ./partials/rumah%>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <form method="post">
                <label class="active" for="first_name2">User Name :</label>
                <input name="username" type="text" placeholder="input your username here">
                <label class="active" for="first_name2">Password :</label>
                <input name="password" type="password" placeholder="input your password">
                
                <div class="row">
                    <div class="col s2"><input  class="btn waves-effect waves-light" type="submit" value="LoGin"></div>
                    <div class="col s1"><a href="/signInGoogle">
                        <img style="width:30px;height:30px;" src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/512/Google-plus-icon.png"></div>
                    <div class="col s2"><a href="/signup">let sign up here !</a></div>
                </div>
            </form>
            
        </div>
        <div class="col s2"></div>

    </div>
</body>
</html>